/*------------------ Basic styling areas begins here ------------- */

body {
    background: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*------------------ Basic styling areas ends here ------------- */


/*------------------ navbar begins here ------------- */

.nav-wrapper {
    background: #000;
}


.brand-logo {
    margin-left: 20px;
}

.right {
    margin-right: 20px;
}

/*------------------ navbar ends here ------------- */
