{% extends "base.html" %}
{% block content %}

<body>
	<div class="error-overlay"></div>
	<div class="container-fluid">
		<div class="row justify-content-center pt-5">
			<div class="center-align text-light pt-5">
				<h1 class="py-3 font-weight-bold text-white py-3">500</h1>
				<h2 class="py-5 white-text">Internal Server Error</h2>
				<p class="white-text">It seems like we are having issues connecting to the server on our end.</p>
				<br />
				<p><a class="white-text" href="/">Please try again later.</a></p>
			</div>
		</div>
	</div>
</body>

</html>
{% endblock %}
