{% extends "base.html" %}
{% block content %}


<h3 class="white-text center-align content-header">Request A Meeting</h3>
<div class="row">
<div class="col s12 request-header center-align">
    <p class="center-align white-text">
        Here you are able to schedule appointments for what you require. You are able to choose from the options <br>below and will then be refered to the chosen option. Once you have sent in your requested meeting, <br><b>Love Therapy</b> will get in contact with you through your 
        email or mobile number (if you provided a phone number when you registered your account).
    </p>
</div>
</div>
<div class="row card-panel black">
    <!-- form tags begins here-->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_appointment') }}">
        <div class="card-panel white">
        <!-- Meeting type text input begins here-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment-medical prefix text-black"></i>
                    <select id="meeting_type" name="meeting_type" required>
                      <option value="" disabled selected>Choose Session</option>
                      <option value="CBT Therapy">CBT Therapy</option>
                      <option value="Couple Therapy">Couple Therapy</option>
                      <option value="Group Therapy">Group Therapy</option>
                      <option value="Substance Abuse">Substance Abuse</option>
                      <option value="Psychiatrist">Psychiatrist</option>
                    </select>
                    <label>Who would you like to see?</label>
                  </div>
            </div>
        
        <!-- Meeting type text input ends here -->
        
        <!-- meeting description text input begins here-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-headset prefix text-black"></i>
                <textarea id="meeting_description" name="meeting_description" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="meeting_description">What would you like to discuss on your meeting?</label>
            </div>
        </div>
        <!-- meeting description text input ends here-->

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-question-circle prefix text-black"></i>
                <textarea id="meeting_reflection" name="meeting_reflection" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="meeting_reflection">Why would you like to discuss this?</label>
            </div>
        </div>

        <!-- requested date selections begins here -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix text-black"></i>
                <input id="requested_date" name="requested_date" type="text" class="datepicker validate"  required>
                <label for="requested_date">Which date would you prefer having your meeting on?</label>
            </div>
        </div>
<!-- requested date selections ends here --> 

        <div class="row">
            <div class="input-field col s12">
            <div class="switch">
                <label for="digital_meeting">
                <input type="checkbox" id="digital_meeting" name="digital_meeting">
                <span class="lever"></span>
                Would you like to have the meeting digitally?
            </label>
            </div>
        </div>
    </div>

        <!-- submit button begins here -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green text-white text-shadow">
                   Send Meeting Request <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
        <!-- submit button ends here -->

    </form>
  </div>
    <!-- form tags ends here-->
</div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Love Therapy</h5>
            <p class="grey-text text-lighten-4">Love Therapy is the official application for "Improvement Therapy & Psychiatrist Centre". <br>
              If you would like to read more about us, then please <a href="#">press here.</a>
          </p>
          <h5 class="white-text">Centre Location</h5>
        <p class="white-text">Vasagatan 82, Stockholm, 11120</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">We do not have any social media channels<b>.</b> <br>
            Because we do not like the channels that are offered today<b>.</b></h6>
        </div>
        <div class="col l4 offset-l2 s12">
            <h6 class="white-text">Call us at<b>:  </b>
              0011111111</h6>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>


{% endblock %}