<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Love Therapy</title>
</head>
<body>

	<header>
        <!-- top navbar -->
		<nav>
            <div class="nav-wrapper">
              <a href="{{ url_for('love_therapy') }}" class="brand-logo">Love Therapy</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('love_therapy') }}">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                {% if session.user %}
                <li><a href="">My Account</a></li>
                <li><a href="{{ url_for('add_appointment') }}">Bookings</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('signin') }}">Log-In</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <!------- Desktop navbar ends here ------->

        <!------- Mobile version & Ipad version navbar begins here (Inspired from Materializecss.com) ------->
          <ul class="sidenav center-align" id="mobile-demo">
            <li><a href="{{ url_for('love_therapy') }}">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                {% if session.user %}
                <li><a href="">My Account</a></li>
                <li><a href="{{ url_for('add_appointment') }}">Bookings</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('signin') }}">Log-In</a></li>
                {% endif %}
            </ul>
        <!------- Mobile version & Ipad version navbar ends here ------->
	</header>

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes center-align">
                    <div class="col m4 center-align">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://www.clipartkey.com/mpngs/m/5-57313_thumbs-up-emoji-png-transparent-emoticon-png.png">
                          <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                          <h5>{{ message }}</h5>
                        </div>
                        <div class="row">
                          <div class="col s12 center-align">
                              <button type="submit" class="btn-large black text-white text-shadow" href="{{ url_for('love_therapy') }}">
                                 Return
                              </button>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

    <main>
      {% block content %}
      {% endblock %}
  </main>
  
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      {% block scripts %}
      {% endblock %}
</body>
</html>