{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align content-header">My Journal</h3>
<div class="row">
<div class="col s12 request-header center-align white-text">
    <p class="center-align">On this page you are able to view the posts that you have made in your journal.<br>
        Both you and your therapist are able to view the posts. 
    </p>
</div>
</div>
  

    <div class="container">
    <div class="row card-panel black">
        <form action="{{ url_for('user_documentation') }}" method="post" class="col s12">
        <div class="card-panel white black-text lighten-4">
          
      {% if diary|length > 0 %}
          <ul class="collapsible">
      {% for diary in diary %}
      {% if session.user|lower == diary.made_by|lower %}

        <li>
            <div class="collapsible-header black-text white darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col s9">
                    <strong>{{ diary.diary_date}}</strong> : {{ diary.diary_type }}
                </div>
            </div>
            {% endif %}
            <div class="collapsible-body">
                <p> How are you feeling: <strong><b>{{ diary.diary_type }}</b></strong></p>
                <p>Journal topic: <strong><b>{{ diary.diary_description }}</b></strong></p>
                <p>Journal reflection: <strong><b>{{ diary.diary_reflection }}</b></strong></p>
                <p>Note for therapist: <strong><b>{{ diary.therapist_note }}</b></strong></p>
                <p>Should your therapist read this: <strong><b>{{ diary.therapist_read }}</b></strong></p>
                <p>Who posted this: <strong><b>{{ diary.made_by }}</b></strong></p>
                <a href="{{ url_for('contact') }}" class="btn blue white-text contact-btn">Contact</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
        {% endif %}
     
    

</div>
</div>
</div>
</form>
      
        
        

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Love Therapy</h5>
          <p class="grey-text text-lighten-4">Love Therapy is the official application for "Improvement Therapy & Psychiatrist Centre". <br>
            If you would like to read more about us, then please <a href="#">press here.</a>
        </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">We do not have any social media channels<b>.</b> <br>
            Because we do not like the channels that are offered today<b>.</b></h6>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Call us at<b>:  </b>
            0011111111</h6>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>
  {% endblock %}

