{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
    <div class="parallax"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header center-align">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3 center-align">
        We believe in providing options for our clients, which is why we have built this platform. The therapy industry must realize that we have to offer both "face to face" meetings and digitalized meetings. Just as well as providing easier tools for our clients to schedule their next appointments, documenting about the homework they receive and much more. 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum exercitationem velit dicta corrupti voluptatum facere eveniet harum quidem doloribus ratione blanditiis aperiam neque sit veritatis odit vel, quo explicabo accusantium. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quo iste quos, nulla laborum omnis architecto asperiores amet ullam dolorem accusantium, hic dolore perspiciatis veniam maiores. Optio recusandae enim temporibus!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque corrupti delectus est. Odio, reprehenderit. Fugiat omnis magnam ex numquam quod voluptate fuga aspernatur deserunt a maiores, eveniet officia, aperiam dolore!
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
 
{% endblock %}