{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
    <div class="parallax"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h3 class="header center-align">LOVE THERAPY</h3>
      <p class="grey-text text-darken-3 lighten-3 center-align">
        We believe in providing options for our clients, which is why we have built this platform. The therapy industry must realize that we have to offer both "face to face" meetings and digitalized meetings. Just as well as providing easier tools for our clients to schedule their next appointments, documenting about the homework they receive and much more. 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum exercitationem velit dicta corrupti voluptatum facere eveniet harum quidem doloribus ratione blanditiis aperiam neque sit veritatis odit vel, quo explicabo accusantium. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quo iste quos, nulla laborum omnis architecto asperiores amet ullam dolorem accusantium, hic dolore perspiciatis veniam maiores. Optio recusandae enim temporibus!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque corrupti delectus est. Odio, reprehenderit. Fugiat omnis magnam ex numquam quod voluptate fuga aspernatur deserunt a maiores, eveniet officia, aperiam dolore!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor modi magnam consequuntur mollitia quod consectetur vel est, dolorum dolore, hic saepe quam. Doloribus minus aperiam nesciunt fuga asperiores reprehenderit quae!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis corrupti repudiandae odit ducimus esse velit tempora ullam, pariatur laborum alias porro beatae assumenda facere eos nulla maxime? Laudantium, tenetur earum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates libero accusantium obcaecati alias temporibus possimus a, reprehenderit sequi dignissimos fuga sunt dolores nihil nam eius ducimus perferendis? Sint, illo itaque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nulla dolorem sequi, fuga nisi, dolorum hic a harum itaque similique sapiente repudiandae iure porro totam eius ex ea aperiam molestiae!
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text home">Love Therapy</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus sunt similique assumenda in iure delectus</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text home">We do not have any social media channels<b>.</b> <br>
            Because we do not like the channels that are offered today<b>.</b></h6>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container ">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>

 
{% endblock %}