{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="col-sm-12 center-align terms-h3">
        <div class="row">
            <h3>Terms & Condition</h3>
            <div class="terms-paragragh center-align">
            <p>
                Please read through Love Therapy's Terms & Condition carefully, so that you understand them correctly. If you've got any questions regarding our terms & conditions, then do not hesitate to send us an email at terms@lovetherapy.com and we will respond to you as soon as we get the chance. 
            </p>
            </div>
            <div class="terms-pargragh-2 center-align">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum deserunt molestias odio repudiandae iure pariatur qui, debitis a quo at? Temporibus, est ullam. Numquam repudiandae tempore necessitatibus magni dolores? 
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea qui natus adipisci, sequi pariatur magni dicta ex itaque magnam quibusdam, vero odio nam, sunt eaque maxime! Ratione mollitia quidem ducimus!
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas quia aut dolores aliquid commodi error labore aperiam, doloremque dolor saepe excepturi praesentium nisi repudiandae possimus ab, nemo ex dolore eveniet.
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam recusandae omnis optio aliquid nisi illum ea sit odit consequuntur ipsam? Cupiditate quia eaque ex placeat nostrum iste dignissimos, eos praesentium?
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus at ullam praesentium harum, vel dolorem quisquam animi molestiae illo voluptatibus culpa repellendus dignissimos enim tempore quo, numquam ad est odio.
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero dolores consequuntur culpa nobis, exercitationem explicabo, natus sint commodi beatae maiores dicta eligendi autem quod obcaecati assumenda ullam non. Necessitatibus, iusto!
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo odio molestias nobis officia voluptatem explicabo natus impedit quis labore, neque quaerat iure rerum eius similique, beatae unde, ipsum fugiat ratione?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci et aspernatur ratione doloremque sunt facere hic ipsa ab molestias voluptatum alias, incidunt expedita unde debitis. Libero aliquam vero officia at.
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Love Therapy</h5>
          <p class="grey-text text-lighten-4">Love Therapy is the official application for "Improvement Therapy & Psychiatrist Centre". <br>
            If you would like to read more about us, then please <a href="#">press here.</a>
        </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">We do not have any social media channels<b>.</b> <br>
            Because we do not like the channels that are offered today<b>.</b></h6>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>

{% endblock %}