{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="col-sm-12 center-align terms-h3 white-text">
        <div class="row">
            <h3>Terms & Condition</h3>
            <div class="terms-paragragh center-align">
              <h5>Read Through Carefully</h5>
            <p>
                Please read through Love Therapy's Terms & Condition carefully, so that you understand them correctly. If you've got any questions regarding our terms & conditions, then do not hesitate to send us an email at terms@lovetherapy.com and we will respond to you as soon as we get the chance. 
            </p>
            </div>
            <br>
            <div class="terms-pargragh-2 center-align">
              <h5>Storing & Keeping Data</h5>
                <p>Love Therapy collect your personal data, but does not use it in any marketing purposes whatsoever. Love Therapy doesn't share your personal data with anyone outside of the organisation.
                </p>
            </div>
            <br>
            <div class="terms-pargragh-3 center-align">
              <h5>Therapy & Psychiatrist Meetings</h5>
                <p> 
                   Before a digital session, Love Therapy will give you a call (if a mobile number has been provided to Love Therapy) or an email regarding payment for the session. If you have your appointment at the centre, then the payment will be settled ater your session is done by cash, swish or credit card.
                   If you would like to know more about payments or pricing, please email or call <a href="{{ url_for('contact') }}">Love Therapy</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Love Therapy</h5>
          <p class="grey-text text-lighten-4">Love Therapy is the official application for "Improvement Therapy & Psychiatrist Centre". <br>
            If you would like to read more about us, then please <a href="#">press here.</a>
        </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">We do not have any social media channels<b>.</b> <br>
            Because we do not like the channels that are offered today<b>.</b></h6>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Call us at<b>:</b>
            0011111111</h6>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>

{% endblock %}